/* App-wide styling */
body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: rgb(0, 174, 255);
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: rgb(0, 174, 255) 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Navbar */
#navbar {
    display: flex;
    flex-direction: row;
  }
  
#navbar a {
    color: #000000;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.2s ease;
}

#navbar a:hover {
    cursor: pointer;
    color: #91a4d2;
}
